<div class="container-fluid">
  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Add Category</h3>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Category Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default"
                   name="mMajorSubject.name"
                   [(ngModel)]="mMajorSubject.name"
                   (ngModelChange)="mMajorSubject.name = $event">
          </div>
          <div>
            <label for="labelType"></label>
            <select class="form-control" id="labelType"
                    [ngModel]="mMajorSubject.type" (ngModelChange)="mMajorSubject.type = $event"
                    name="mMajorSubject.type">
              <option [value]="'expenses'">
                Expenses
              </option>
              <option [value]="'income'">
                Income
              </option>
            </select>
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="button" class="btn btn-success" (click)="fnSaveCategory()" *ngIf="!mMajorSubject.id">Save
          </button>
          <button type="button" class="btn btn-success" (click)="fnUpdate()" *ngIf="mMajorSubject.id">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Expenses</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let mCategory of mArrayCategoriesExpenses">
              <button type="button" class="btn btn-danger mr-3" (click)="fnDeleteCategory(mCategory)"><i
                class="fas fa-trash"></i></button>
              <button type="button" class="btn btn-warning mr-5 text-white" (click)="fnUpdateCategory(mCategory)"><i
                class="fas fa-edit"></i></button>
              {{mCategory.name}}
              <label class="text-capitalize">
                <b>
                  {{mCategory.type}}
                </b>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Income</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let mCategory of mArrayCategoriesIncome">
              <button type="button" class="btn btn-danger mr-3" (click)="fnDeleteCategory(mCategory)"><i
                class="fas fa-trash"></i></button>
              <button type="button" class="btn btn-warning mr-5 text-white" (click)="fnUpdateCategory(mCategory)"><i
                class="fas fa-edit"></i></button>
              {{mCategory.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
