<div class="container-fluid">
  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Add Contact</h3>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Contact Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   name="mContact.name"
                   [(ngModel)]="mContact.name"
                   (ngModelChange)="mContact.name = $event">
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="button" class="btn btn-success" (click)="fnSaveContact()" *ngIf="!mContact.id">Save</button>
          <button type="button" class="btn btn-success" (click)="fnUpdate()" *ngIf="mContact.id">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Contacts</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let mContact of mArrayContact">
              <button type="button" class="btn btn-danger mr-3" (click)="fnDeleteContact(mContact)"><i class="fas fa-trash"></i></button>
              <button type="button" class="btn btn-warning mr-5 text-white" (click)="fnUpdateContact(mContact)"><i class="fas fa-edit"></i></button>
              {{mContact.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
