<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="home">CF System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">
          {{
          (mProperties && afService.mSelectedPropertyID && mProperties[afService.mSelectedPropertyID] ? mProperties[afService.mSelectedPropertyID].name : '')
          }}
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item dropdown active" *ngFor="let mProperty of mArrayProperties">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{mProperty.name}}
        </a>
        <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/property-record/{{mProperty.id}}/daily">
            Daily
          </a>
          <a class="dropdown-item" routerLink="/property-record/{{mProperty.id}}/report">
            Report
          </a>
          <a class="dropdown-item" routerLink="/property-record/{{mProperty.id}}/summary">
            Summary
          </a>
          <a class="dropdown-item" routerLink="/property-record/{{mProperty.id}}/dashboard">
            Dashboard
          </a>
          <a class="dropdown-item" routerLink="/global/goals/dashboard/{{mProperty.id}}">
            Dashboard Goals
          </a>
          <a class="dropdown-item" routerLink="/properties/add-bank-account/{{mProperty.id}}">
            Add Account
          </a>
          <!-- <a class="dropdown-item" routerLink="/form/{{mProperty.id}}/add-record/new">
            Add Record
          </a> -->
        </div>
      </li>

<!--      <li class="nav-item active" *ngIf="afService.mSelectedPropertyID">-->
<!--        <a class="nav-link" routerLink="/form/{{afService.mSelectedPropertyID}}/add-record/new">Add Record</a>-->
<!--      </li>-->

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" routerLink="/properties/add-category">Add Category</a>
          <a class="dropdown-item" routerLink="/properties/add-subcategory/expenses">Add Expenses Subcategory</a>
          <a class="dropdown-item" routerLink="/properties/add-subcategory/income">Add Income Subcategory</a>
          <a class="dropdown-item" routerLink="/properties/add-contact">Add Contact</a>
        </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>
            General
          </b>
        </a>
        <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdownMenuLink3">
          <a class="dropdown-item" routerLink="/global/total">
            Total
          </a>
          <a class="dropdown-item" routerLink="/global/dashboard">
            Dashboard
          </a>
          <a class="dropdown-item" routerLink="/global/goals">
            Dashboard
          </a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" (click)="fnLogOut()">
          <button class="btn btn-danger">
            Log Out
          </button>
        </a>
      </li>

    </ul>
  </div>
</nav>
