<div class="container-fluid" >
  <div class="row justify-content-center py-5">
    <div class="col-md-8 text-center">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
          <div class="col-md-12 text-center">
            <ng-container>
              <button *ngFor="let myear of mArrayYears" (click)="mSelectedDate.year = myear" class="btn btn-{{myear == mSelectedDate.year ? 'danger' : 'warning'}} m-2">
                {{myear}}
              </button>
            </ng-container>
          </div>
            <div class="col-md-12 text-center">
              <ng-container *ngIf="mSelectedDate.year > 0">
                <button *ngFor="let mmonth of mArrayMonths; let i = index" (click)="fnSelectMonth(mmonth)" class="btn btn-{{i == mSelectedDate.month ? 'danger' : 'info'}} m-2 text-capitalize" >
                  {{mmonth}}
                </button>
              </ng-container>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-around" *ngIf="mSelectedDate.year > 0 && mSelectedDate.month >= 0">
    <div class="col-md-12 text-center py-3" *ngFor="let mCategory of mArrayIncomeCategories">
      <div class="card shadow">
        <div class="card-body">
          <div class="card-title text-center">
            <h3>
              {{mCategory.name}}
            </h3>
          </div>
          <div class="row">
            <div class="col-md-12" id="composite-chart-{{mCategory.id}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
