.bg-pic {
  background-image: url("../../assets/img/login/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
