<div class="container-fluid bg-pic full-height">
  <div class="row py-5">
    <br>
  </div>
  <div class="row justify-content-center py-5">
    <div class="col-md-4">
      <div class="card rounded-0" style="background-color: rgba(52,58,64,0.9);">

        <div class="card-body py-5">
<!--          <div class="row justify-content-center">-->
<!--            <div class="col-md-10">-->
<!--              <div class="input-group mb-3">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text" id="inputGroup-sizing-default">Username</span>-->
<!--                </div>-->
<!--                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row justify-content-center">-->
<!--            <div class="col-md-10">-->
<!--              <div class="input-group mb-3">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text" id="inputGroup-sizing-default2">Password</span>-->
<!--                </div>-->
<!--                <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default2">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row justify-content-center">-->
<!--            <div class="col-md-10 text-center">-->
<!--              <button class="btn btn-success">Login</button>-->
<!--            </div>-->
<!--          </div>-->

          <div class="row">
            <br>
          </div>

          <div class="row justify-content-center">
<!--            <div class="col-md-4">-->
<!--              <button type="button" class="btn btn-primary btn-block"><i class="fab fa-facebook-f"></i></button>-->
<!--            </div>-->
            <div class="col-md-4">
              <button type="button" class="btn btn-warning btn-block text-white" (click)="fnLoginWithGoogle()">
                <i class="fab fa-google"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
