<div class="container-fluid">
  <div class="row py-3">
    <br>
  </div>

  <div class="row py-3 justify-content-center">
    <div class="col-md-2 text-center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing">Select Date</span>
        </div>
        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing"
               name="mDate"
               [(ngModel)]="mDate"
               (ngModelChange)="mDate = $event">
      </div>
    </div>
  </div>

  <div class="row py-3 justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center bg-danger text-white">
          <h3>Expenses</h3>
        </div>
        <div class="card-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Major Subject</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01"
                    name="mRecord.expense.key_major_subject"
                    [(ngModel)]="mRecord.expense.key_major_subject"
                    (ngModelChange)="mRecord.expense.key_major_subject = fnEventSelectedExpenses($event)">
              <option *ngFor="let mCategory of mArrayCategoriesExpenses" [value]="mCategory.id">
                {{mCategory.name}}
              </option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect02">Small Subject</label>
            </div>
            <select class="custom-select" id="inputGroupSelect02"
                    name="mRecord.expense.key_minor_subject"
                    [(ngModel)]="mRecord.expense.key_minor_subject"
                    (ngModelChange)="mRecord.expense.key_minor_subject = $event">
              <option *ngFor="let mSubcategory of mArraySubcategoriesExpenses" [value]="mSubcategory.id">
                {{mSubcategory.name}}
              </option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Suppliers</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   name="mRecord.expense.suppliers"
                   [(ngModel)]="mRecord.expense.suppliers"
                   (ngModelChange)="mRecord.expense.suppliers = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default2">Notes</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default2"
                   name="mRecord.expense.remarks"
                   [(ngModel)]="mRecord.expense.remarks"
                   (ngModelChange)="mRecord.expense.remarks = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default3">Local Currency</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default3"
                   name="mRecord.expense.localCurrency"
                   [(ngModel)]="mRecord.expense.localCurrency"
                   (ngModelChange)="mRecord.expense.localCurrency = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default4">JPY</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default4"
                   name="mRecord.expense.jpy"
                   [(ngModel)]="mRecord.expense.jpy"
                   (ngModelChange)="mRecord.expense.jpy = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect03">Account</label>
            </div>
            <select class="custom-select" id="inputGroupSelect03"
                    name="mRecord.expense.key_bank_account"
                    [(ngModel)]="mRecord.expense.key_bank_account"
                    (ngModelChange)="mRecord.expense.key_bank_account = $event">
              <option *ngFor="let mBankAccount of mArrayBankAccount" [value]="mBankAccount.id">{{mBankAccount.name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect04">Contact</label>
            </div>
            <select class="custom-select" id="inputGroupSelect04"
                    name="mRecord.expense.key_contact"
                    [(ngModel)]="mRecord.expense.key_contact"
                    (ngModelChange)="mRecord.expense.key_contact = $event">
              <option *ngFor="let mContact of mArrayContact" [value]="mContact.id">{{mContact.name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default5">Withdrawal Date</span>
            </div>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default5"
                   name="mDate2"
                   [(ngModel)]="mDate2"
                   (ngModelChange)="mDate2 = $event">
          </div>

          <div class="row py-2">
            <div class="col-md-12">
              <button class="btn btn-success" (click)="fnSaveExpenses()">
                Save Expense
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row py-3 justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center text-white bg-primary">
          <h3>Income</h3>
        </div>
        <div class="card-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect011">Major Subject</label>
            </div>
            <select class="custom-select" id="inputGroupSelect011"
                    name="mRecord.income.key_major_subject"
                    [(ngModel)]="mRecord.income.key_major_subject"
                    (ngModelChange)="mRecord.income.key_major_subject = fnEventSelectedIncome($event)">
              <option *ngFor="let mCategory of mArrayCategoriesIncome" [value]="mCategory.id">{{mCategory.name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect022">Small Subject</label>
            </div>
            <select class="custom-select" id="inputGroupSelect022"
                    name="mRecord.income.key_minor_subject"
                    [(ngModel)]="mRecord.income.key_minor_subject"
                    (ngModelChange)="mRecord.income.key_minor_subject = $event">
              <option *ngFor="let mSubcategory of mArraySubcategoriesIncome" [value]="mSubcategory.id">{{mSubcategory.name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup">Suppliers</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup"
                   name="mRecord.income.suppliers"
                   [(ngModel)]="mRecord.income.suppliers"
                   (ngModelChange)="mRecord.income.suppliers = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default22">Notes</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default22"
                   name="mRecord.income.remark"
                   [(ngModel)]="mRecord.income.remark"
                   (ngModelChange)="mRecord.income.remark = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default33">Local Currency</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default33"
                   name="mRecord.income.localCurrency"
                   [(ngModel)]="mRecord.income.localCurrency"
                   (ngModelChange)="mRecord.income.localCurrency = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default44">JPY</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default44"
                   name="mRecord.income.jpy"
                   [(ngModel)]="mRecord.income.jpy"
                   (ngModelChange)="mRecord.income.jpy = $event">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect033">Account</label>
            </div>
            <select class="custom-select" id="inputGroupSelect033"
                    name="mRecord.income.key_bank_account"
                    [(ngModel)]="mRecord.income.key_bank_account"
                    (ngModelChange)="mRecord.income.key_bank_account = $event">
              <option *ngFor="let mBankAccount of mArrayBankAccount" [value]="mBankAccount.id">{{mBankAccount.name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect044">Contact</label>
            </div>
            <select class="custom-select" id="inputGroupSelect044"
                    name=".mRecord.income.key_contact"
                    [(ngModel)]="mRecord.income.key_contact"
                    (ngModelChange)="mRecord.income.key_contact = $event">
              <option *ngFor="let mContact of mArrayContact" [value]="mContact.id">{{mContact.name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default55">Payment Date</span>
            </div>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default55"
                   name="mDate3"
                   [(ngModel)]="mDate3"
                   (ngModelChange)="mDate3 = $event">
          </div>

          <div class="row py-2">
            <div class="col-md-12">
              <button class="btn btn-success" (click)="fnSaveIncome()">
                Save Income
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<!--  <div class="row py-3 justify-content-center">-->
<!--    <div class="col-md-10">-->
<!--      <div class="card shadow">-->
<!--        <div class="card-header text-center text-white bg-warning">-->
<!--          <h3>Balance</h3>-->
<!--        </div>-->
<!--        <div class="card-body">-->

<!--          <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--              <span class="input-group-text" id="inputGroup-sizing-default41">Local Currency</span>-->
<!--            </div>-->
<!--            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default41"-->
<!--                   name="mRecord.balance.localCurrency"-->
<!--                   [(ngModel)]="mRecord.balance.localCurrency"-->
<!--                   (ngModelChange)="mRecord.balance.localCurrency = $event">-->
<!--          </div>-->

<!--          <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--              <span class="input-group-text" id="inputGroup-sizing-default21">JPY</span>-->
<!--            </div>-->
<!--            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default21"-->
<!--                   name="mRecord.balance.jpy"-->
<!--                   [(ngModel)]="mRecord.balance.jpy"-->
<!--                   (ngModelChange)="mRecord.balance.jpy = $event">-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row py-4 justify-content-center">
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-block" (click)="fnSaveRecord()" *ngIf="!mRefUid">Save Record</button>
      <button type="button" class="btn btn-success btn-block" (click)="fnUpdate()" *ngIf="mRefUid">Edit Record</button>
    </div>
  </div>

  <div class="row py-3">
    <br>
  </div>
</div>
