<div class="container-fluid">
  <div class="row justify-content-center py-5">
    <div class="col-md-8 text-center">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
          <div class="col-md-12 text-center">
            <ng-container>
              <button class="btn btn-warning m-2" *ngFor="let myear of mArrayYears" (click)="mSelectedDate.year = myear">
                {{myear}}
              </button>
            </ng-container>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="mSelectedDate.year > 0">
    <div class="col-md-12 p-0">
      <table class="table table-striped table-hover">
        <thead class="bg-dark text-white text-center text-uppercase">
          <tr>
            <th>
              Branch
            </th>
            <th>
              Section
            </th>
            <th *ngFor="let mMonth of mArrayMonths">
              {{mMonth}}
            </th>
          </tr>
        </thead>

        <tbody class="bg-light">
          <ng-container *ngFor="let mProperty of mArrayProperties">
            <tr *ngFor="let mCategory of mArrayIncomeCategories">
              <th class="text-center">
                {{mProperty.name}}
              </th>
              <th class="text-center">
                {{mCategory.name}}
              </th>
              <td *ngFor="let mMonth of mArrayMonths; let i = index">
                <input type="number" class="form-control" [(ngModel)]="mProperty.goals[mSelectedDate.year][i][mCategory.id]" (ngModelChange)="mProperty.goals[mSelectedDate.year][i][mCategory.id] = fnSaveGoal($event, mProperty, mSelectedDate.year, i, mCategory)">
              </td>
            </tr>
          </ng-container>

        </tbody>

      </table>
    </div>

  </div>
</div>
