<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <ng-container>
        <button *ngFor="let myear of mArrayYears" (click)="mSelectedDate.year = myear" class="btn btn-{{myear == mSelectedDate.year ? 'danger' : 'warning'}} m-2">
          {{myear}}
        </button>
        <br>
        <ng-container *ngIf="mSelectedDate.year != -1">
          <button *ngFor="let mmonth of mArrayMonths; let i = index" (click)="fnChangeMonth(mmonth)" class="btn btn-{{i == mSelectedDate.month ? 'danger' : 'info'}} m-2" >
            {{mmonth}}
          </button>
        </ng-container>

      </ng-container>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center py-5">

    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="card-title" id="incomes-expenses-chart">
            <h5 class="subtitle">
              Incomes/Expenses
            </h5>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="card-title" id="major-categories-chart">
            <h5 class="subtitle">
              Major Categories
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="card-title" id="bank-accounts-chart">
            <h5 class="subtitle">
              Bank Accounts
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="card-title" id="incomes-chart">
            <h5 class="subtitle">
              Incomes
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="card-title" id="expenses-chart">
            <h5 class="subtitle">
              Expenses
            </h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


