<div class="container-fluid">
  <div class="row py-5 justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="row py-2 justify-content-center" *ngFor="let mProperty of mArrayProperties">
            <div class="col-md-5 align-self-center">
              <h4>
                {{mProperty.name}}
              </h4>
            </div>
            <div class="col-md-5">
              <button class="btn btn-success btn-block" routerLink="/property-record/{{mProperty.id}}/daily">
                Go
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-warning" routerLink="/new/property-record">
            New Property Record
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
