<div class="container-fluid">
  <div class="row py-5 justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header text-center">
          <h3>New Property Record</h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Please type the name of the property</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       name="mPropertyRecord.name"
                       [(ngModel)]="mPropertyRecord.name"
                       (ngModelChange)="mPropertyRecord.name = $event">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success" (click)="fnAddProperty()">
            Add Property
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
