<div class="row py-1">
  <br>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <ng-container>
        <button *ngFor="let myear of mArrayYears" (click)="mSelectedDate.year = myear" class="btn btn-{{myear == mSelectedDate.year ? 'danger' : 'warning'}} m-2">
          {{myear}}
        </button>
        <br>
        <ng-container *ngIf="mSelectedDate.year != -1">
          <button *ngFor="let mmonth of mArrayMonths; let i = index" (click)="fnChangeMonth(mmonth)" class="btn btn-{{i == mSelectedDate.month ? 'danger' : 'info'}} m-2" >
            {{mmonth}}
          </button>
        </ng-container>

      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col text-center" *ngIf="mProperty">
      <h3>
        {{mProperty.name}}
      </h3>
    </div>
  </div>

</div>

<div>
  <table class="table text-center">
    <thead class="bg-dark text-white">
    <tr>
      <th [colSpan]="2">
        Subject
      </th>
      <th>
        Total
      </th>
      <th>
        Pre Total
      </th>
      <th>
        Post Total
      </th>
      <th *ngFor="let mDate of mArrayDays">
        {{ (mDate? mDate : '') | date: 'mediumDate'}}
      </th>
    </tr>
    </thead>
    <thead>
    <tr class="text-center text-uppercase">
      <th colspan="5">
        Income
      </th>
    </tr>
    </thead>

    <tbody>
    <ng-container *ngFor="let mMajorCategory of mArrayIncomeCategories">
      <tr>
        <th>
        </th>
        <th style="background-color: #4f4f4f; color: white;" >
          {{mMajorCategory.name}}
        </th>
        <td [style.background-color]="'#EBE3E2'">
          {{(mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id].total : 0) | number}}
        </td>
        <th [style.background-color]="'#EBE3E2'">
          {{(mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id].pre_total : 0) | number}}
        </th>
        <th [style.background-color]="'#EBE3E2'">
          {{(mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id].post_total : 0) | number}}
        </th>
        <td *ngFor="let mDate of mArrayDays">
          {{
          (mObjectMajorCat && mObjectMajorCat[mDate] && mObjectMajorCat[mDate][mMajorCategory.id] ? mObjectMajorCat[mDate][mMajorCategory.id].amount : 0) | number
          }}
        </td>
      </tr>
    </ng-container>
    <tr style="background-color: #ababab;">
      <th [colSpan]="2">
        Total Income
      </th>
      <th>
        {{mTotal.income | number}}
      </th>
      <th>
      </th>
      <th>
      </th>
      <th *ngFor="let mDate of mArrayDays">
        {{
        (mObjectMajorCat && mObjectMajorCat[mDate] && mObjectMajorCat[mDate].total && mObjectMajorCat[mDate].total.income ? mObjectMajorCat[mDate].total.income : 0) | number
        }}
      </th>
    </tr>
    <tr class="text-center text-uppercase">
      <th colspan="5">
        Expense
      </th>
    </tr>
    <tr>
      <th [colSpan]="2">
        <p></p>
      </th>
      <th *ngFor="let mDate of mArrayDays">
        <p></p>
      </th>
    </tr>


    </tbody>

    <tbody>
    <ng-container *ngFor="let mMajorCategory of mArrayExpensesCategories">
      <tr>
        <th>
        </th>
        <th style="background-color: #4f4f4f; color: white;">
          {{mMajorCategory.name}}
        </th>
        <td [style.background-color]="'#EBE3E2'">
          {{(mMajorCategory && mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id].total : 0) | number}}
        </td>
        <th [style.background-color]="'#EBE3E2'">
          {{(mMajorCategory && mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id].pre_total : 0) | number}}
        </th>
        <th [style.background-color]="'#EBE3E2'">
          {{(mMajorCategory && mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id].post_total : 0) | number}}
        </th>
        <td *ngFor="let mDate of mArrayDays">
          {{
          (mMajorCategory && mObjectTotalCategory && mObjectMajorCat[mDate] && mObjectMajorCat[mDate][mMajorCategory.id] ? mObjectMajorCat[mDate][mMajorCategory.id].amount : 0) | number
          }}
        </td>
      </tr>
    </ng-container>
    <tr style="background-color: #ababab;">
      <th [colSpan]="2">
        Total Expenses
      </th>
      <th>
        {{mTotal.expenses | number}}
      </th>
      <th>
      </th>
      <th>
      </th>
      <th *ngFor="let mDate of mArrayDays">
        {{
        (mObjectMajorCat && mObjectMajorCat[mDate] && mObjectMajorCat[mDate].total && mObjectMajorCat[mDate].total.expense ? mObjectMajorCat[mDate].total.expense : 0) | number
        }}
      </th>
    </tr>
    </tbody>
  </table>
</div>


<div>
  <table class="table">
    <thead class="bg-dark text-white">
    <tr>
      <th>
        Major Subject
      </th>
      <th>
        Small Subject
      </th>
      <th>
        Total
      </th>
      <th *ngFor="let mDate of mArrayDays">
        {{(mDate? mDate : '') | date: 'mediumDate'}}
      </th>
    </tr>
    </thead>
    <thead>
    <tr class="text-center text-uppercase">
      <th colspan="3">
        Income
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let mMajorCat of mArrayIncomeCategories">
      <tr>
        <th>
          {{mMajorCat.name}}
        </th>
      </tr>
      <ng-container *ngFor="let mMinorCat of mMajorCat.minor_categories">
        <tr>
          <th>
          </th>
          <th style="background-color: #4f4f4f; color: white;">
            {{mMinorCat.name}}
          </th>
          <td>
            {{
            (mObjectMinorCat && mObjectMinorCat[mMajorCat.id] && mObjectMinorCat[mMajorCat.id][mMinorCat.id] ? mObjectMinorCat[mMajorCat.id][mMinorCat.id].total : 0) | number
            }}
          </td>
          <td *ngFor="let mDate of mArrayDays">
            {{
            (mObjectMinorCat && mObjectMinorCat[mDate] && mObjectMinorCat[mDate][mMajorCat.id] && mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id] ? mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id].amount : 0) | number
            }}
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
    <!---->
    <thead class="bg-dark text-white">
    <tr>
      <th>
        Major Subject
      </th>
      <th>
        Small Subject
      </th>
      <th>
        Total
      </th>
      <th *ngFor="let mDate of mArrayDays">
        {{mDate | date: 'mediumDate'}}
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let mMajorCat of mArrayExpensesCategories">
      <tr>
        <th>
          {{mMajorCat.name}}
        </th>
      </tr>

      <ng-container *ngFor="let mMinorCat of mMajorCat.minor_categories">
        <tr>
          <th>
          </th>
          <th style="background-color: #4f4f4f; color: white;">
            {{mMinorCat.name}}
          </th>
          <td>
            {{
            (mObjectMinorCat && mObjectMinorCat[mMajorCat.id] && mObjectMinorCat[mMajorCat.id][mMinorCat.id] ? mObjectMinorCat[mMajorCat.id][mMinorCat.id].total : 0) | number
            }}
          </td>
          <td *ngFor="let mDate of mArrayDays">
            {{
            (mObjectMinorCat && mObjectMinorCat[mDate] && mObjectMinorCat[mDate][mMajorCat.id] && mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id] ? mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id].amount : 0) | number
            }}
          </td>
        </tr>
      </ng-container>

    </ng-container>
    </tbody>
  </table>
</div>
