<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <ng-container>
        <button *ngFor="let myear of mArrayYears" (click)="mSelectedDate.year = myear" class="btn btn-{{myear == mSelectedDate.year ? 'danger' : 'warning'}} m-2">
          {{myear}}
        </button>
        <br>
        <ng-container *ngIf="mSelectedDate.year != -1">
          <button *ngFor="let mmonth of mArrayMonths; let i = index" (click)="fnChangeMonth(mmonth)" class="btn btn-{{i == mSelectedDate.month ? 'danger' : 'info'}} m-2" >
            {{mmonth}}
          </button>
        </ng-container>

      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col text-center" *ngIf="mProperty">
      <h3>
        {{mProperty.name}}
      </h3>
    </div>
  </div>

</div>

<table class="table table-bordered text-center">
  <thead>
  <tr class="bg-dark text-white">
    <th [colSpan]="2">
      Total
    </th>
    <ng-container *ngIf="mArrayBankAccountDisplay && mArrayBankAccountDisplay[0]">
      <th [colSpan]="2">

        <label for="inputGroupSelect01">
          {{mArrayBankAccountDisplay[0].name}}
        </label>
        <select class="custom-select" id="inputGroupSelect01"
                name="mArrayBankAccountDisplay[0]"
                [(ngModel)]="mArrayBankAccountDisplay[0]"
                (ngModelChange)="mArrayBankAccountDisplay[0] = fnBankAccountSelected($event, 0)">
          <option *ngFor="let bankAccount of mArrayBankAccount" [value]="bankAccount.id"
                  [selected]="bankAccount.id == mArrayBankAccountDisplay[0].id">
            {{bankAccount.name}}
          </option>
        </select>

      </th>
    </ng-container>

    <ng-container *ngIf="mArrayBankAccountDisplay && mArrayBankAccountDisplay[1]">
      <th [colSpan]="2">
        <label for="inputGroupSelect02">
          {{mArrayBankAccountDisplay[1].name}}
        </label>
        <select class="custom-select" id="inputGroupSelect02"
                name="mArrayBankAccountDisplay[1]"
                [(ngModel)]="mArrayBankAccountDisplay[1]"
                (ngModelChange)="mArrayBankAccountDisplay[1] = fnBankAccountSelected($event, 1)">
          <option *ngFor="let bankAccount of mArrayBankAccount" [value]="bankAccount.id"
                  [selected]="bankAccount.id == mArrayBankAccountDisplay[1].id">
            {{bankAccount.name}}
          </option>
        </select>
      </th>
    </ng-container>

    <ng-container *ngIf="mArrayBankAccountDisplay && mArrayBankAccountDisplay[2]">
      <th [colSpan]="2">
        <label for="inputGroupSelect03">
          {{mArrayBankAccountDisplay[2].name}}
        </label>
        <select class="custom-select" id="inputGroupSelect03"
                name="mArrayBankAccountDisplay[2]"
                [(ngModel)]="mArrayBankAccountDisplay[2]"
                (ngModelChange)="mArrayBankAccountDisplay[2] = fnBankAccountSelected($event, 2)">
          <option *ngFor="let bankAccount of mArrayBankAccount" [value]="bankAccount.id"
                  [selected]="bankAccount.id == mArrayBankAccountDisplay[2].id">
            {{bankAccount.name}}
          </option>
        </select>
      </th>
    </ng-container>

  </tr>

  <tr style="background-color: #4f4f4f; color: white;" class="text-uppercase">

    <td [colSpan]="2">
      Balance at end of previous month
    </td>

    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td [colSpan]="2">
        Balance at end of previous month
      </td>
    </ng-container>

  </tr>
  <tr>
    <td>
      Local currency
    </td>
    <td>
      JPY
    </td>
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        Local currency
      </td>
      <td>
        JPY
      </td>
    </ng-container>

  </tr>
  <tr>
    <td>
      {{
      (mTotalBalance? mTotalBalance.lmBalance.income.localCurrency - mTotalBalance.lmBalance.expenses.localCurrency : 0 ) | number
      }}
    </td>
    <td>
      {{
      (mTotalBalance? mTotalBalance.lmBalance.income.jpy - mTotalBalance.lmBalance.expenses.jpy : 0 ) | number
      }}
    </td>

    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        {{
        (mValue.lmBalance && mValue.lmBalance.income ? mValue.lmBalance.income.localCurrency : 0) -
        (mValue.lmBalance && mValue.lmBalance.expenses ? mValue.lmBalance.expenses.localCurrency : 0) | number
        }}
      </td>
      <td>
        {{
        (mValue.lmBalance && mValue.lmBalance.income ? mValue.lmBalance.income.jpy : 0) -
        (mValue.lmBalance && mValue.lmBalance.expenses ? mValue.lmBalance.expenses.jpy : 0) | number
        }}
      </td>
    </ng-container>

  </tr>

  <tr style="background-color: #4f4f4f; color: white;" class="text-uppercase">
    <td [colSpan]="2">
      Input balance
    </td>
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td [colSpan]="2">
        Input balance
      </td>
    </ng-container>
  </tr>
  <tr>
    <td>
      Local currency
    </td>
    <td>
      JPY
    </td>
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        Local currency
      </td>
      <td>
        JPY
      </td>
    </ng-container>
  </tr>
  <tr>
<!--    -->
    <td>
      {{
      (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.income ? mTotalBalance.inputBalance.income.localCurrency : 0) -
      (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.expenses ? mTotalBalance.inputBalance.expenses.localCurrency : 0) | number
      }}
    </td>
    <td>
      {{
      (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.income ? mTotalBalance.inputBalance.income.jpy : 0) -
      (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.expenses ? mTotalBalance.inputBalance.expenses.jpy : 0) | number
      }}
    </td>
<!--    -->
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        {{
        (mValue.inputBalance && mValue.inputBalance.income ? mValue.inputBalance.income.localCurrency : 0) -
        (mValue.inputBalance && mValue.inputBalance.expenses ? mValue.inputBalance.expenses.localCurrency : 0) | number
        }}
      </td>
      <td>
        {{
        (mValue.inputBalance && mValue.inputBalance.income ? mValue.inputBalance.income.jpy : 0) -
        (mValue.inputBalance && mValue.inputBalance.expenses ? mValue.inputBalance.expenses.jpy : 0) | number
        }}
      </td>
    </ng-container>
  </tr>
  <tr style="background-color: #4f4f4f; color: white;" class="text-uppercase">
    <td [colSpan]="2">
      balance
    </td>
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td [colSpan]="2">
        {{mCurrentDate | date: 'mediumDate'}} balance
      </td>
    </ng-container>
  </tr>
  <tr>
    <td>
      Local currency
    </td>
    <td>
      JPY
    </td>
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        Local currency
      </td>
      <td>
        JPY
      </td>
    </ng-container>
  </tr>
  <tr>
    <!--    -->
    <td>
      {{
      (mTotalBalance? mTotalBalance.toDate.income.localCurrency - mTotalBalance.toDate.expenses.localCurrency : 0 ) | number
      }}
    </td>
    <td>
      {{
      (mTotalBalance? mTotalBalance.toDate.income.jpy - mTotalBalance.toDate.expenses.jpy : 0 ) | number
      }}
    </td>
    <!--    -->
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        {{
        (mValue.inputBalance && mValue.inputBalance.income ? mValue.inputBalance.income.localCurrency : 0) -
        (mValue.inputBalance && mValue.inputBalance.expenses ? mValue.inputBalance.expenses.localCurrency : 0) | number
        }}
      </td>
      <td>
        {{
        (mValue.inputBalance && mValue.inputBalance.income ? mValue.inputBalance.income.jpy : 0) -
        (mValue.inputBalance && mValue.inputBalance.expenses ? mValue.inputBalance.expenses.jpy : 0) | number
        }}
      </td>
    </ng-container>
  </tr>


  <tr style="background-color: #4f4f4f; color: white;" class="text-uppercase">
    <td [colSpan]="2">
      global balance
    </td>
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td [colSpan]="2">
        global balance
      </td>
    </ng-container>
  </tr>
  <tr>
    <td>
      Local currency
    </td>
    <td>
      JPY
    </td>
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        Local currency
      </td>
      <td>
        JPY
      </td>
    </ng-container>
  </tr>
  <tr>
    <!--    -->
    <td>
      {{
      (mTotalBalance? mTotalBalance.lmBalance.income.localCurrency - mTotalBalance.lmBalance.expenses.localCurrency : 0 ) +
      (
        (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.income ? mTotalBalance.inputBalance.income.localCurrency : 0) -
        (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.expenses ? mTotalBalance.inputBalance.expenses.localCurrency : 0)
      ) | number
      }}
    </td>
    <td>
      {{
      (mTotalBalance? mTotalBalance.lmBalance.income.jpy - mTotalBalance.lmBalance.expenses.jpy : 0 ) +
      (
        (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.income ? mTotalBalance.inputBalance.income.jpy : 0) -
        (mTotalBalance && mTotalBalance.inputBalance && mTotalBalance.inputBalance.expenses ? mTotalBalance.inputBalance.expenses.jpy : 0)
      ) | number
      }}
    </td>
    <!--    -->
    <ng-container *ngFor="let mValue of mArrayBankAccountDisplay">
      <td>
        {{
        (mValue? mValue.lmBalance.income.localCurrency - mValue.lmBalance.expenses.localCurrency : 0 ) +
        (
          (mValue && mValue.inputBalance && mValue.inputBalance.income ? mValue.inputBalance.income.localCurrency : 0) -
          (mValue && mValue.inputBalance && mValue.inputBalance.expenses ? mValue.inputBalance.expenses.localCurrency : 0)
        ) | number
        }}
      </td>
      <td>
        {{
        (mValue? mValue.lmBalance.income.jpy - mValue.lmBalance.expenses.jpy : 0 ) +
        (
          (mValue && mValue.inputBalance && mValue.inputBalance.income ? mValue.inputBalance.income.jpy : 0) -
          (mValue && mValue.inputBalance && mValue.inputBalance.expenses ? mValue.inputBalance.expenses.jpy : 0)
        ) | number
        }}
      </td>
    </ng-container>
  </tr>

  </thead>
  <tbody>

  </tbody>
</table>

<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-md-12 p-0">
      <table class="table bg-light table-bordered">
        <tbody>
          <tr class="text-center">
            <td *ngFor="let mCategory of mArrayIncomeCategories">
              <b class="text-uppercase">{{mCategory.name}}</b>
              <br>
              <p>
                {{(mTotalIncome && mTotalIncome[mCategory.id] ? mTotalIncome[mCategory.id] : 0)  | number}} / {{(mProperty && mProperty.goals && mProperty.goals[mSelectedDate.year]? +mProperty.goals[mSelectedDate.year][mSelectedDate.month][mCategory.id] : 0) | number}}
              </p>
              <p>
                <b *ngIf="(mProperty && mProperty.goals && mProperty.goals[mSelectedDate.year]? +mProperty.goals[mSelectedDate.year][mSelectedDate.month][mCategory.id] : 0) > 0">
                  {{(mTotalIncome && mTotalIncome[mCategory.id] ? mTotalIncome[mCategory.id] : 0) / (mProperty && mProperty.goals && mProperty.goals[mSelectedDate.year]? +mProperty.goals[mSelectedDate.year][mSelectedDate.month][mCategory.id] : 0) * 100 | number}} %
                </b>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class = "row justify-content-center">
    <div class="col-md-6 text-center">
      <button class="btn btn-info" (click)="fnAddRecord()">
        Add record
      </button>
    </div>
  </div>

  <div class="row py-5 justify-content-center">
    <div class="col-md-12 p-0">
      <div>
        <table class="table table-bordered text-center table-dark">
          <thead>
          <tr>
            <th colspan="3"></th>
            <th colspan="9" class="bg-danger">Expenses</th>
            <th colspan="9" class="bg-primary">Income</th>
            <th colspan="2" class="bg-warning">Balance</th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Date of Occurrence</th>
            <th scope="col" class="bg-danger">Major Subject</th>
            <th scope="col" class="bg-danger">Small Subject</th>
            <th scope="col" class="bg-danger">Suppliers</th>
            <th scope="col" class="bg-danger">Notes</th>
            <th scope="col" class="bg-danger">Local Currency</th>
            <th scope="col" class="bg-danger">JPY</th>
            <th scope="col" class="bg-danger">Account</th>
            <th scope="col" class="bg-danger">Contact Name</th>
            <th scope="col" class="bg-danger">Withdrawal Date</th>
            <th scope="col" class="bg-primary">Major Subject</th>
            <th scope="col" class="bg-primary">Small Subject</th>
            <th scope="col" class="bg-primary">Suppliers</th>
            <th scope="col" class="bg-primary">Notes</th>
            <th scope="col" class="bg-primary">Local Currency</th>
            <th scope="col" class="bg-primary">JPY</th>
            <th scope="col" class="bg-primary">Account</th>
            <th scope="col" class="bg-primary">Contact Name</th>
            <th scope="col" class="bg-primary">Payment Date</th>
            <th scope="col" class="bg-warning">Local Currency</th>
            <th scope="col" class="bg-warning">JPY</th>
          </tr>
          </thead>
          <tbody>

          <ng-container *ngFor="let mRecord of mArrayRecord">
            <tr *ngIf="mCurrentMonth === mRecord.currentMonth">
              <th scope="row">
                <button class="btn btn-warning text-white"
                        routerLink="/form/{{afService.mSelectedPropertyID}}/add-record/{{mRecord.id}}"><i
                  class="fas fa-edit"></i></button>
              </th>
              <th scope="row">
                <button class="btn btn-danger text-white" (click)="fnDeleteRecord(mRecord)"><i
                  class="fas fa-trash-alt"></i></button>
              </th>
              <th scope="row" [style.color]="(mRecord.date > mCurrentDateStatic? '#e0a800' : '#FFF')">{{mRecord.date | date }}</th>
              <!--            <td class="bg-danger" *ngIf="mObjCategories && mObjCategories[mRecord.expense.key_major_subject]">{{mObjCategories[mRecord.expense.key_major_subject].name}}</td>-->
              <td class="bg-danger"><p
                *ngIf="mObjCategories && mObjCategories[mRecord.expense.key_major_subject]">{{mObjCategories[mRecord.expense.key_major_subject].name}}</p>
              </td>
              <!--            <td class="bg-danger" *ngIf="mObjCategories && mObjCategories[mRecord.expense.key_major_subject] && mObjCategories[mRecord.expense.key_major_subject] ['minor_subject'] && mObjCategories[mRecord.expense.key_major_subject] ['minor_subject'] [mRecord.expense.key_minor_subject]">{{mObjCategories[mRecord.expense.key_major_subject] ['minor_subject'] [mRecord.expense.key_minor_subject].name}}</td>-->
              <td class="bg-danger"><p
                *ngIf="mObjCategories && mObjCategories[mRecord.expense.key_major_subject] && mObjCategories[mRecord.expense.key_major_subject] ['minor_subject'] && mObjCategories[mRecord.expense.key_major_subject] ['minor_subject'] [mRecord.expense.key_minor_subject]">{{mObjCategories[mRecord.expense.key_major_subject] ['minor_subject'] [mRecord.expense.key_minor_subject].name}}</p>
              </td>
              <td class="bg-danger">{{mRecord.expense.suppliers}}</td>
              <td class="bg-danger">{{mRecord.expense.remarks}}</td>
              <td class="bg-danger">{{mRecord.expense.localCurrency | number}}</td>
              <td class="bg-danger">{{mRecord.expense.jpy | number}}</td>
              <!--            <td class="bg-danger" *ngIf="mObjBankAccounts && mObjBankAccounts[mRecord.expense.key_bank_account]">{{mObjBankAccounts[mRecord.expense.key_bank_account].name}}</td>-->
              <td class="bg-danger"><p
                *ngIf="mObjBankAccounts && mObjBankAccounts[mRecord.expense.key_bank_account]">{{mObjBankAccounts[mRecord.expense.key_bank_account].name}}</p>
              </td>
              <!--            <td class="bg-danger" *ngIf="mObjContacts && mObjContacts[mRecord.expense.key_contact]">{{mObjContacts[mRecord.expense.key_contact].name}}</td>-->
              <td class="bg-danger"><p
                *ngIf="mObjContacts && mObjContacts[mRecord.expense.key_contact]">{{mObjContacts[mRecord.expense.key_contact].name}}</p>
              </td>
              <td class="bg-danger">{{mRecord.expense.withdrawalDate | date}}</td>
              <!--            <td class="bg-primary" *ngIf="mObjCategories && mObjCategories[mRecord.income.key_major_subject]">{{mObjCategories[mRecord.income.key_major_subject].name}}</td>-->
              <td class="bg-primary"><p
                *ngIf="mObjCategories && mObjCategories[mRecord.income.key_major_subject]">{{mObjCategories[mRecord.income.key_major_subject].name}}</p>
              </td>
              <!--            <td class="bg-primary" *ngIf="mObjCategories && mObjCategories[mRecord.income.key_major_subject] && mObjCategories[mRecord.income.key_major_subject] ['minor_subject'] && mObjCategories[mRecord.income.key_major_subject] ['minor_subject'] [mRecord.income.key_minor_subject]">{{mObjCategories[mRecord.income.key_major_subject] ['minor_subject'] [mRecord.income.key_minor_subject].name}}</td>-->
              <td class="bg-primary"><p
                *ngIf="mObjCategories && mObjCategories[mRecord.income.key_major_subject] && mObjCategories[mRecord.income.key_major_subject] ['minor_subject'] && mObjCategories[mRecord.income.key_major_subject] ['minor_subject'] [mRecord.income.key_minor_subject]">{{mObjCategories[mRecord.income.key_major_subject] ['minor_subject'] [mRecord.income.key_minor_subject].name}}</p>
              </td>
              <td class="bg-primary">{{mRecord.income.suppliers}}</td>
              <td class="bg-primary">{{mRecord.income.remark}}</td>
              <td class="bg-primary">{{mRecord.income.localCurrency | number}}</td>
              <td class="bg-primary">{{mRecord.income.jpy | number}}</td>
              <!--            <td class="bg-primary" *ngIf="mObjBankAccounts && mObjBankAccounts[mRecord.income.key_bank_account]">{{mObjBankAccounts[mRecord.income.key_bank_account].name}}</td>-->
              <td class="bg-primary"><p
                *ngIf="mObjBankAccounts && mObjBankAccounts[mRecord.income.key_bank_account]">{{mObjBankAccounts[mRecord.income.key_bank_account].name}}</p>
              </td>
              <!--            <td class="bg-primary" *ngIf="mObjContacts && mObjContacts[mRecord.income.key_contact]">{{mObjContacts[mRecord.income.key_contact].name}}</td>-->
              <td class="bg-primary"><p
                *ngIf="mObjContacts && mObjContacts[mRecord.income.key_contact]">{{mObjContacts[mRecord.income.key_contact].name}}</p>
              </td>
              <td class="bg-primary">{{mRecord.income.paymentDate | date}}</td>
<!--              <td class="">-->
<!--                {{-->
<!--                (mRecord.income.jpy ? mRecord.income.localCurrency : 0) - (mRecord.expense.localCurrency ? mRecord.expense.localCurrency : 0) | number-->
<!--                }}-->
<!--              </td>-->
<!--              <td class="">-->
<!--                {{-->
<!--                (mRecord.income.jpy ? mRecord.income.jpy : 0) - (mRecord.expense.jpy ? mRecord.expense.jpy : 0) | number-->
<!--                }}-->
<!--              </td>-->
              <td class="bg-warning">
                {{
                (mRecord.totalBalance.localCurrency ? mRecord.totalBalance.localCurrency : 0) | number
                }}
              </td>
              <td class="bg-warning">
                {{
                (mRecord.totalBalance.jpy ? mRecord.totalBalance.jpy : 0) | number
                }}
              </td>
            </tr>
          </ng-container>


          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class = "row justify-content-center">
    <div class="col-md-6 text-center">
      <button class="btn btn-warning" (click)="fnExportToCsv()">
        Export CSV
      </button>
    </div>
  </div>

  <div class = "row justify-content-center">
    <div class="col-md-6 text-center">
      <button class="btn btn-warning" (click)="fnExportToCsvSmasllCash()">
        Export SmallCash CSV
      </button>
    </div>
  </div>

</div>
