<div class="container-fluid">
  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Add {{propertyType}} Subcategory</h3>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Parent Category</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01"
                    name="mMajorSubject"
                    [(ngModel)]="mMajorSubject"
                    (ngModelChange)="mMajorSubject = fnEventSelected($event)">
              <option *ngFor="let mCategory of mArrayCategories" [value]="mCategory.id">{{mCategory.name}}</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Subcategory Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   name="mMinorSubject.name"
                   [(ngModel)]="mMinorSubject.name"
                   (ngModelChange)="mMinorSubject.name = $event">
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="button" class="btn btn-success" (click)="fnSaveSubcategory()" *ngIf="!mMinorSubject.id">Save</button>
          <button type="button" class="btn btn-success" (click)="fnUpdate()" *ngIf="mMinorSubject.id">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Subcategories</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let mSubcategory of mArraySubcategories">
              <button type="button" class="btn btn-danger mr-3" (click)="fnDeleteSubcategory(mSubcategory)"><i class="fas fa-trash"></i></button>
              <button type="button" class="btn btn-warning mr-5 text-white" (click)="fnUpdateSubcategory(mSubcategory)"><i class="fas fa-edit"></i></button>
              {{mSubcategory.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
