<div class="container-fluid">
  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Add Account</h3>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Account</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   name="mBankAccount.name"
                   [(ngModel)]="mBankAccount.name"
                   (ngModelChange)="mBankAccount.name = $event">
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="button" class="btn btn-success" (click)="fnSaveBankAccount()" *ngIf="!mBankAccount.id">Save</button>
          <button type="button" class="btn btn-success" (click)="fnUpdate()" *ngIf="mBankAccount.id">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center py-5">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3>Accounts</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let mBankAccount of mArrayBankAccount">
              <button type="button" class="btn btn-danger mr-3" (click)="fnDeleteBankAccount(mBankAccount)"><i class="fas fa-trash"></i></button>
              <button type="button" class="btn btn-warning mr-5 text-white" (click)="fnUpdateBankAccount(mBankAccount)"><i class="fas fa-edit"></i></button>
              {{mBankAccount.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
