<div class="row py-1">
  <br>
</div>

<ng-container *ngIf="mReady">

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <ng-container>
          <button class="btn btn-warning m-2" *ngFor="let myear of mArrayYears" (click)="mSelectedDate.year = myear">
            {{myear}}
          </button>
          <br>
          <ng-container *ngIf="mSelectedDate.year != -1">
            <button class="btn btn-info m-2" *ngFor="let mmonth of mArrayMonths" (click)="fnChangeMonth(mmonth)">
              {{mmonth}}
            </button>
          </ng-container>

        </ng-container>
      </div>
    </div>
  </div>

  <div>
    <table class="table text-center">

      <thead class="bg-dark text-white">
      <tr>
        <th [colSpan]="2">
          Subject
        </th>
        <th>
          Total
        </th>
        <th *ngFor="let mDate of mArrayDays">
          {{mDate | date: 'mediumDate'}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let gTitle of mGeneralTotalLabel">
        <td>
          {{(gTitle === 'Income' ? 'ALL' : '')}}
        </td>
        <td class="text-capitalize">
          {{gTitle}}
        </td>
        <td>
          {{(mObjectProperties && mObjectProperties['total'] && mObjectProperties['total'][gTitle] ? mObjectProperties['total'][gTitle] : 0) | number}}
        </td>
        <ng-container *ngFor="let mDate of mArrayDays">
          <td>
            {{
            (mObjectProperties &&
            mObjectProperties['total'] &&
            mObjectProperties['total'][mDate] &&
            mObjectProperties['total'][mDate][gTitle] ? mObjectProperties['total'][mDate][gTitle] : 0) | number
            }}
          </td>
        </ng-container>
      </tr>

      <ng-container *ngFor="let mProperty of mArrayProperties">
        <tr *ngFor="let gTitle of mGeneralTotalLabel">
          <td>
            {{(gTitle === 'Income' ? mProperty.name : '')}}
          </td>
          <td class="text-capitalize">
            {{gTitle}}
          </td>
          <td>
            {{
            (mObjectProperties &&
            mObjectProperties[mProperty.id] &&
            mObjectProperties[mProperty.id][gTitle] ?
              mObjectProperties[mProperty.id][gTitle] : 0) | number
            }}
          </td>
          <ng-container *ngFor="let mDate of mArrayDays">
            <td>
              {{
              (mObjectProperties &&
              mObjectProperties[mProperty.id] &&
              mObjectProperties[mProperty.id][mDate] &&
              mObjectProperties[mProperty.id][mDate][gTitle] ? mObjectProperties[mProperty.id][mDate][gTitle] : 0) | number
              }}
            </td>
          </ng-container>
        </tr>
      </ng-container>

      </tbody>

    </table>
  </div>

  <div class="row py-1">
    <br>
  </div>
  <div>
    <table class="table text-center">
      <thead class="bg-dark text-white">
      <tr>
        <th [colSpan]="2">
          Subject
        </th>
        <th>
          Total
        </th>
        <th *ngFor="let mDate of mArrayDays">
          {{mDate | date: 'mediumDate'}}
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let mMajorCategory of mArrayIncomeCategories">
        <tr>
          <th>
          </th>
          <th style="background-color: #4f4f4f; color: white;">
            {{mMajorCategory.name}}
          </th>
          <td>
            {{(mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id] : 0) | number}}
          </td>
          <td *ngFor="let mDate of mArrayDays">
            {{
            (mObjectMajorCat && mObjectMajorCat[mDate] && mObjectMajorCat[mDate][mMajorCategory.id] ? mObjectMajorCat[mDate][mMajorCategory.id].amount : 0) | number
            }}
          </td>
        </tr>
      </ng-container>
      <tr style="background-color: #ababab;">
        <th [colSpan]="2">
          Total Income
        </th>
        <th>
          {{(mTotal && mTotal.income ? mTotal.income : 0) | number}}
        </th>
        <th *ngFor="let mDate of mArrayDays">
          {{
          (mObjectMajorCat && mObjectMajorCat[mDate] && mObjectMajorCat[mDate].total && mObjectMajorCat[mDate].total.income ? mObjectMajorCat[mDate].total.income : 0) | number
          }}
        </th>
      </tr>
      <tr>
        <th [colSpan]="2">
          <p></p>
        </th>
        <th *ngFor="let mDate of mArrayDays">
          <p></p>
        </th>
      </tr>


      </tbody>

      <tbody>
      <ng-container *ngFor="let mMajorCategory of mArrayExpensesCategories">
        <tr>
          <th>
          </th>
          <th style="background-color: #4f4f4f; color: white;">
            {{mMajorCategory.name}}
          </th>
          <td>
            {{(mObjectTotalCategory && mObjectTotalCategory[mMajorCategory.id] ? mObjectTotalCategory[mMajorCategory.id] : 0) | number}}
          </td>
          <td *ngFor="let mDate of mArrayDays">
            {{
            (mObjectMajorCat && mObjectMajorCat[mDate] && mObjectMajorCat[mDate][mMajorCategory.id] ? mObjectMajorCat[mDate][mMajorCategory.id].amount : 0) | number
            }}
          </td>
        </tr>
      </ng-container>
      <tr style="background-color: #ababab;">
        <th [colSpan]="2">
          Total Expenses
        </th>
        <th>
          {{(mTotal && mTotal.expenses ? mTotal.expenses : 0) | number}}
        </th>
        <th *ngFor="let mDate of mArrayDays">
          {{
          (mObjectMajorCat && mObjectMajorCat[mDate] && mObjectMajorCat[mDate].total && mObjectMajorCat[mDate].total.expense ? mObjectMajorCat[mDate].total.expense : 0) | number
          }}
        </th>
      </tr>
      </tbody>
    </table>
  </div>


  <div>
    <table class="table">
      <thead class="bg-dark text-white">
      <tr>
        <th>
          Major Subject
        </th>
        <th>
          Small Subject
        </th>
        <th>
          Total
        </th>
        <th *ngFor="let mDate of mArrayDays">
          {{mDate | date: 'mediumDate'}}
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let mMajorCat of mArrayIncomeCategories">
        <tr>
          <th>
            {{mMajorCat.name}}
          </th>
        </tr>
        <ng-container *ngFor="let mMinorCat of mMajorCat.minor_categories">
          <tr>
            <th>
            </th>
            <th style="background-color: #4f4f4f; color: white;">
              {{mMinorCat.name}}
            </th>
            <td>
              0
            </td>
            <td *ngFor="let mDate of mArrayDays">
              {{
              (mObjectMinorCat && mObjectMinorCat[mDate] && mObjectMinorCat[mDate][mMajorCat.id] && mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id] ? mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id].amount : '0')
              }}
            </td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
      <!---->
      <thead class="bg-dark text-white">
      <tr>
        <th>
          Major Subject
        </th>
        <th>
          Small Subject
        </th>
        <th>
          Total
        </th>
        <th *ngFor="let mDate of mArrayDays">
          {{mDate | date: 'mediumDate'}}
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let mMajorCat of mArrayExpensesCategories">
        <tr>
          <th>
            {{mMajorCat.name}}
          </th>
        </tr>

        <ng-container *ngFor="let mMinorCat of mMajorCat.minor_categories">
          <tr>
            <th>
            </th>
            <th style="background-color: #4f4f4f; color: white;">
              {{mMinorCat.name}}
            </th>
            <td>
              0
            </td>
            <td *ngFor="let mDate of mArrayDays">
              {{
              (mObjectMinorCat && mObjectMinorCat[mDate] && mObjectMinorCat[mDate][mMajorCat.id] && mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id] ? mObjectMinorCat[mDate][mMajorCat.id][mMinorCat.id].amount : '0')
              }}
            </td>
          </tr>
        </ng-container>

      </ng-container>
      </tbody>
    </table>
  </div>


